
/* FONT GOOFY NEWS */
@font-face {
    font-family: 'Goofy Font';
    src: url('./Fonts/RetroCool-Regular.woff2') format('woff2'),
      url('./Fonts/RetroCool-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


/* COLORS GOOFY NEWS */
:root{
    --goofy-orange: #eaaa32;
    --goofy-green: ##86A612;
    --goofy-dark-green: #3E4001;
}