/* FONT GOOFY NEWS */
@font-face {
  font-family: 'Goofy Font';
  src: url('./Fonts/RetroCool-Regular.woff2') format('woff2'),
      url('./Fonts/RetroCool-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: yellow;
}

.title{
  font-family: 'Goofy Font';
  font-size: 150px;
  width: 100%;
  text-align: center;
color: #219a55;
}