/* FONT GOOFY NEWS */
@font-face {
  font-family: 'Goofy Font';
  src: url('./Fonts/RetroCool-Regular.woff2') format('woff2'),
    url('./Fonts/RetroCool-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  cursor: none;
  margin: 0;
  padding: 0;
}


/* COLORS GOOFY NEWS */
:root {
  --goofy-orange: #eaaa32;
  --goofy-green: #86A612;
  --goofy-dark-green: #3E4001;
  --goofy-red: #A62103;
  --goofy-dark-red: #721804;
}


@keyframes wave-text-little {
  0% {
    transform: translateY(0em) scaleY(100%);
  }

  60% {
    transform: translateY(-0.4em) scaleY(150%);
  }

  100% {
    transform: translateY(0em) scaleY(100%);
  }
}

@keyframes wave-text {
  0% {
    transform: translateY(0em) scaleY(100%);
  }

  60% {
    transform: translateY(-0.6em) scaleY(150%);
  }

  100% {
    transform: translateY(0em) scaleY(100%);
  }
}